body {
  background-color: #272727;
  display: block;
  overflow: hidden;
}

.dropbtn {
  background-color: #272727;
  color: white;
  padding: 5px 10px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  right: 2px;
  top: 30px;
}

.group-center {
  margin-left: 45%;
}

.logo {
  width: 8%;
}
.pos {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ddd;
}
.casher,
.namedrop {
  color: #ddd;
}
.logo,
.pos {
  display: inline-block;
}

.container-fluid.holder {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0%;
}
.item {
  flex: 1 1 calc(50% - 10px); /* 50% width minus gap */
  box-sizing: border-box; /* Includes padding in width calculation */
  border: 1px solid #2c2b2b;
  text-align: center;
}
.item.col-1 {
  background-color: #6d6d6d;
  padding: 10px;
}
.item.col-2 {
  background-color: #d9d9d9;
}
#zooom {
  float: right;
}
th {
  padding: 2%;
  line-height: 15px;
  font-size: 1rem;
}
table {
  table-layout: fixed;
  width: 100%;
}

.item.row-cols-1 {
  background-color: #6d6d6d;
  height: 100%;
  padding-bottom: 100%;
  overflow-y: auto;
}
.item.row-cols-2 {
  background-color: #d9d9d9;
  height: 100%;
  padding-bottom: 100%;
  overflow-y: auto;
}
.paybtn {
        display: flex;
        justify-content: center; /* Centers children horizontally */
        padding-top: 25%;
        flex-direction:row;   
}

.buttons-pay {
    width:100%;
 align-items: center;
  display: inline-block;
  

}
.buttons-pay .pay,
.buttons-pay .cancel {
    display: flex;
    justify-content: center;
    width: 100%; /* Ensure the container spans the width */
}
